{% extends 'base_generic.html' %}

{% block content %}

    <h1>Login</h1>

    {% if form.errors %}
        <p class="text-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div id="next-url" style="display: none;">{{ next }}</div>
            <script>
                window.location.href = document.getElementById("next-url")?.innerText;
            </script>
        {% else %}
            <p class="text-danger">Please login!</p>
        {% endif %}
    {% endif %}

    <div class="row col-lg-6 col-md-8 col-sm-12 m-4 p-3 border">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>{{ form.username.label_tag }}</th>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <th>{{ form.password.label_tag }}</th>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input class="btn btn-success" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

    {# Assumes you setup the password_reset view in your URLconf (e.g. use include("django.contrib.auth.urls") in path) #}
    <p><a class="text-decoration-none" href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}