{% extends 'base_generic.html' %}

{% block content %}

    <h1 class="mt-5">Login</h1>

    {% if form.errors %}
        <p class="ms-5 text-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div id="next-url" style="display: none;">{{ next }}</div>
            <script>
                window.location.href = document.getElementById("next-url")?.innerText;
            </script>
        {% endif %}
    {% endif %}

    <div class="row col-lg-6 col-md-8 col-sm-12 m-4 p-3 border">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>{{ form.username.label_tag }}</th>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <th>{{ form.password.label_tag }}</th>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input class="btn btn-outline-dark" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

    <script>
        let formInputs = 
            document.querySelectorAll("table input")
            .forEach((element) => {
                element.classList.add("form-control");
        });
    </script>
{% endblock %}