{% load humanize %}
{% load static %}

{% if post_list %}
{% for post in post_list %}
<div class="card text-bg-light mx-auto my-3 shadow">
    <div class="card-body">
        <div class="clearfix mb-3">
            <a class="d-block" href="{% url 'posts:profile' post.owner.username %}">
                <img class="rounded-circle float-end opacity-75"
                src="{% static 'images/img0.jpg' %}" 
                alt="The prfile picture of post's owner."
                style="max-width: 15%; max-height: 15%;">
            </a>
            <h4 class="card-title">
                <strong><a class="link-dark text-decoration-none"
                    href="{% url 'posts:post_detail' post.owner.username post.id %}">
                    {{ post.title }}
                </a></strong>
            </h4>
            <h6 class="card-subtitle mb-2 text-muted h6">
                {{ post.updated_at|naturaltime }}
            </h6>
        </div>
        {% url 'posts:post_detail' post.owner.username post.id as post_detail_url %}
        {% if post.text|length > 128 %}
        <h6 class="card-text">
            {{ post.text|slice:":127"}}
            <a href="{{ post_detail_url }}" class="link-secondary text-decoration-none">
                <em>...Continue Reading.</em>
            </a>
        </h6>
        {% else %}
        <h6 class="card-text">
            {{ post.text }}
        </h6>
        {% endif %}
        <h6 class="h6 text-end mt-3">
            <em>
                <a href="{% url 'posts:profile' post.owner.username %}"
                    class="card-link link-secondary text-decoration-none h6">
                    Written By <strong>{{ post.owner.username|capfirst }}</strong>
                </a>
            </em>
        </h6>
        <div class="d-flex justify-content-between">
            <div id="post-likes-count-{{ post.id }}" class="post-likes-count h6 text text-muted align-self-start">
                <span id="post-likes-count-number-{{ post.id }}">{{ post.likes.count }}</span> Likes
            </div>
            <div id="post-comments-count-{{ post.id }}" class="post-comments-count h6 text text-muted align-self-start">
                <a href="{{ post_detail_url }}" class="h6 link-secondary text-decoration-none">
                    <span id="post-comments-count-number-{{ post.id }}">{{ post.comments.count }}</span> Comments
                </a>
            </div>
        </div>
        <hr class="mt-1">
        <!-- No comments section -->
        <div style="display: none;">
            <span id="post-likes-url-{{ post.id }}">{% url 'posts:post_likes' post.id %}</span>
            <span id="post-comments-url-{{ post.id }}">{% url 'posts:post_comments' post.id %}</span>
            <span id="comments-page-counter-{{ post.id }}">1</span>
        </div>
        <form id="comment-form-{{ post.id }}" action="{% url 'posts:comment_create' post.id %}" method="post"
            class="comment-form d-flex flex-column" role="form">
            {% csrf_token %}
            <div name="errorsDiv" id="comment-form-errors-{{ post.id }}"></div>
            <textarea class="form-control h6 text-center"
                name="text" id="comment-text-{{ post.id }}" rows="2" maxlength="2048"
                placeholder="New comment" role="textbox"></textarea> 
            <input type="hidden" name="postID" value="{{ post.id }}" style="display: none;">
            <button type="submit" form="comment-form-{{ post.id }}" class="btn btn-outline-dark my-2" role="button">
                Comment
            </button>
            <button type="button" class="btn btn-outline-dark" 
                {% if user in post.likes.all %}style="display: none;"{% endif %}
                id="like-btn-{{ post.id }}" value="{% url 'posts:post_like' post.id %}">
                I like
            </button>
            <button type="button" class="btn btn-outline-dark" 
                {% if not user in post.likes.all %}style="display: none;"{% endif %}
                id="dislike-btn-{{ post.id }}" value="{% url 'posts:post_dislike' post.id %}">
                I don't like
            </button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<p class="text-center text-danger m-5">There are no posts.</p>
{% endif %}
