{% extends 'base_generic.html' %}
{% load humanize %}
{% block content %}

<div class="card text-bg-light mx-auto my-3">
    <div class="card-body">
        <form id="post-form" action="{% url 'posts:post_create' %}" method="post" class="d-flex flex-column"
            role="form">
            {% csrf_token %}
            <div name="errorsDiv" id="post-form-errors"></div>
            <h4 for="post-title" class="card-title">New Post</h4>
            <input name="title" id="post-title" class="form-control my-2" type="text" value="Untitled Post"
                maxlength="128" role="text">
            <h6 class="card-subtitle mb-2 text-muted">Provide a good title for your post instead of 'Untitled Post'</h6>
            <textarea class="form-control my-2" name="text" id="post-text" rows="5" maxlength="2048"
                placeholder="Type something..." role="textbox" required></textarea>
            <h6><a href="#" class="card-link text-decoration-none h6">Current UserName</a> (signature)</h6>
            <input type="hidden" name="postID" value="{{ post.id }}" style="display: none;">
            <button type="submit" form="post-form" class="btn btn-outline-dark my-2" role="button">
                Create a new post
            </button>
        </form>
    </div>
</div>

{% if post_list %}
{% for post in post_list %}
<div class="card text-bg-light mx-auto my-3">
    <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted h6">{{ post.updated_at|naturaltime }}</h6>
        <p class="card-text">
            {% if post.text|length > 16 %}{{ post.text|slice:":16"|add:"..." }}
            {% else %}{{ post.text }}
            {% endif %}
        </p>
        <h6><a href="{% url 'posts:post_detail' user.username post.id %}" class="card-link text-decoration-none h6">Post
                details
            </a>
        </h6>
        <div class="post-comments-div" id="post-comments-{{ post.id }}">
            <a id="post-more-comments-link-{{ post.id }}" href="#"
                class="more-comments-link text-decoration-none text-center h6 link-secondary" style="display: none;">
                More comments...
            </a>
        </div>
        <div style="display: none;">
            <span id="post-comments-url-{{ post.id }}">{% url 'posts:post_comments' post.id %}</span>
            <span id="comments-page-counter-{{ post.id }}">1</span>
        </div>
        <form id="comment-form-{{ post.id }}" action="{% url 'posts:comment_create' post.id %}" method="post"
            class="comment-form d-flex flex-column mt-3" role="form">
            {% csrf_token %}
            <div name="errorsDiv" id="comment-form-errors-{{ post.id }}"></div>
            <textarea class="form-control" name="text" id="comment-text-{{ post.id }}" rows="2" maxlength="2048"
                placeholder="Create new comment..." role="textbox"></textarea>
            <input type="hidden" name="postID" value="{{ post.id }}" style="display: none;">
            <button type="submit" form="comment-form-{{ post.id }}" class="btn btn-outline-dark my-2" role="button">
                Comment
            </button>
            <button type="button" class="btn btn-outline-dark">I like it</button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<p class="text-center text-danger m-5">There are no posts.</p>
{% endif %}

{% endblock %}